In [1]:
import pandas as pd
import datetime as dt

## Criação da base de 2018 para furtos

In [2]:
# Criação da base de 2018 para furtos
df_furtos = pd.read_csv('D:\\EPS\\TCC\\data_cleaned\\SSP\\furtosConcat.csv', sep=",", decimal=".")

D:\Programas\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (17,18,28,30,31,32,33,34,37) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df_furtos.columns

Index(['ANO_BO', 'NUM_BO', 'NUMERO_BOLETIM', 'BO_INICIADO', 'BO_EMITIDO',
       'DATAOCORRENCIA', 'PERIDOOCORRENCIA', 'DATACOMUNICACAO',
       'DATAELABORACAO', 'BO_AUTORIA', 'FLAGRANTE', 'NUMERO_BOLETIM_PRINCIPAL',
       'LOGRADOURO', 'NUMERO', 'BAIRRO', 'CIDADE', 'UF', 'LATITUDE',
       'LONGITUDE', 'DESCRICAOLOCAL', 'EXAME', 'SOLUCAO', 'DELEGACIA_NOME',
       'DELEGACIA_CIRCUNSCRICAO', 'ESPECIE', 'RUBRICA', 'DESDOBRAMENTO',
       'STATUS', 'SEXO', 'IDADE', 'PLACA_VEICULO', 'UF_VEICULO',
       'CIDADE_VEICULO', 'DESCR_COR_VEICULO', 'DESCR_MARCA_VEICULO',
       'ANO_FABRICACAO', 'ANO_MODELO', 'DESCR_TIPO_VEICULO'],
      dtype='object')

In [4]:
df_furtos.head()

,ANO_BO,NUM_BO,NUMERO_BOLETIM,BO_INICIADO,BO_EMITIDO,DATAOCORRENCIA,PERIDOOCORRENCIA,DATACOMUNICACAO,DATAELABORACAO,BO_AUTORIA,...,SEXO,IDADE,PLACA_VEICULO,UF_VEICULO,CIDADE_VEICULO,DESCR_COR_VEICULO,DESCR_MARCA_VEICULO,ANO_FABRICACAO,ANO_MODELO,DESCR_TIPO_VEICULO
0,2003,25,25/2003,01/01/2003 12:33:24,01/01/2003 12:36:16,01/01/2003,DE MADRUGADA,01/01/2003,01/01/2003 12:33:24,Desconhecida,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2003,8,8/2003,01/01/2003 20:18:24,01/01/2003 20:46:57,01/01/2002,A TARDE,01/01/2003,01/01/2003 20:18:24,Desconhecida,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2003,10,10/2003,02/01/2003 09:05:25,02/01/2003 09:05:27,31/12/2002,A NOITE,02/01/2003,02/01/2003 09:05:25,Desconhecida,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2003,63,63/2003,02/01/2003 13:23:46,02/01/2003 13:28:49,02/01/2003,PELA MANHÃ,02/01/2003,02/01/2003 13:23:46,Conhecida,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2003,23,23/2003,02/01/2003 14:08:41,02/01/2003 14:08:45,31/12/2002,A TARDE,02/01/2003,02/01/2003 14:08:41,Desconhecida,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN

In [5]:
# Convertemos para datetime
df_furtos['DATAOCORRENCIA'] = pd.to_datetime(df_furtos['DATAOCORRENCIA'], errors = 'coerce')

In [6]:
df_furtos.head()

,ANO_BO,NUM_BO,NUMERO_BOLETIM,BO_INICIADO,BO_EMITIDO,DATAOCORRENCIA,PERIDOOCORRENCIA,DATACOMUNICACAO,DATAELABORACAO,BO_AUTORIA,...,SEXO,IDADE,PLACA_VEICULO,UF_VEICULO,CIDADE_VEICULO,DESCR_COR_VEICULO,DESCR_MARCA_VEICULO,ANO_FABRICACAO,ANO_MODELO,DESCR_TIPO_VEICULO
0,2003,25,25/2003,01/01/2003 12:33:24,01/01/2003 12:36:16,2003-01-01,DE MADRUGADA,01/01/2003,01/01/2003 12:33:24,Desconhecida,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2003,8,8/2003,01/01/2003 20:18:24,01/01/2003 20:46:57,2002-01-01,A TARDE,01/01/2003,01/01/2003 20:18:24,Desconhecida,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2003,10,10/2003,02/01/2003 09:05:25,02/01/2003 09:05:27,2002-12-31,A NOITE,02/01/2003,02/01/2003 09:05:25,Desconhecida,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2003,63,63/2003,02/01/2003 13:23:46,02/01/2003 13:28:49,2003-02-01,PELA MANHÃ,02/01/2003,02/01/2003 13:23:46,Conhecida,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2003,23,23/2003,02/01/2003 14:08:41,02/01/2003 14:08:45,2002-12-31,A TARDE,02/01/2003,02/01/2003 14:08:41,Desconhecida,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN

In [7]:
# Filtramos os dados de 2018
furtos_2018 = df_furtos[df_furtos['DATAOCORRENCIA'].dt.year == 2018]

In [8]:
furtos_2018.head()

,ANO_BO,NUM_BO,NUMERO_BOLETIM,BO_INICIADO,BO_EMITIDO,DATAOCORRENCIA,PERIDOOCORRENCIA,DATACOMUNICACAO,DATAELABORACAO,BO_AUTORIA,...,SEXO,IDADE,PLACA_VEICULO,UF_VEICULO,CIDADE_VEICULO,DESCR_COR_VEICULO,DESCR_MARCA_VEICULO,ANO_FABRICACAO,ANO_MODELO,DESCR_TIPO_VEICULO
1696329,2018,7,7/2018,01/01/2018 00:48:34,01/01/2018 00:48:34,2018-01-01,DE MADRUGADA,01/01/2018,01/01/2018 00:48:34,Desconhecida,...,NaN,NaN,CCX2566,SP,LOUVEIRA,Preta,GM/KADETT SL/E,1990.0,1990.0,AUTOMOVEL
1696333,2018,1,1/2018,01/01/2018 01:14:08,01/01/2018 01:20:23,2018-01-01,DE MADRUGADA,01/01/2018,01/01/2018 01:14:08,Desconhecida,...,NaN,NaN,DFJ8925,SP,JUNDIAI,Cinza,VW/GOL 16V POWER,2001.0,2002.0,AUTOMOVEL
1696335,2018,1,1/2018,01/01/2018 01:19:53,01/01/2018 01:29:30,2018-01-01,DE MADRUGADA,01/01/2018,01/01/2018 01:19:53,Desconhecida,...,NaN,NaN,DOZ1584,SP,COSMOPOLIS,Preta,HONDA/CG 150 TITAN ES,2005.0,2006.0,MOTOCICLO
1696336,2018,2,2/2018,01/01/2018 01:18:43,01/01/2018 01:32:36,2018-01-01,DE MADRUGADA,01/01/2018,01/01/2018 01:18:43,Desconhecida,...,NaN,NaN,EHY2760,SP,MOGI MIRIM,Prata,JTA/SUZUKI EN125 YES,2008.0,2009.0,MOTOCICLO
1696338,2018,1,1/2018,01/01/2018 01:33:40,01/01/2018 01:50:20,2018-01-01,EM HORA INCERTA,01/01/2018,01/01/2018 01:33:40,Desconhecida,...,NaN,NaN,CNX9337,SP,RIO CLARO,Branco,VW/SAVEIRO CL 1.6 MI,1998.0,1998.0,CAMINHONETE

In [9]:
furtos_2018['CIDADE'] = furtos_2018['CIDADE'].str.upper()

D:\Programas\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [10]:
# Dropamos outras cidades que nao são SP
furtos_2018.drop(furtos_2018[(furtos_2018.CIDADE != 'S.PAULO') & (furtos_2018.CIDADE != 'SAO PAULO') & (furtos_2018.CIDADE != 'SÃO PAULO') & (furtos_2018.CIDADE != 'SP')].index, inplace=True)

D:\Programas\Anaconda3\lib\site-packages\pandas\core\frame.py:4117: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [11]:
furtos_2018['CIDADE'].unique()

array(['S.PAULO'], dtype=object)

In [12]:
furtos_2018['DIASEMANA'] = furtos_2018['DATAOCORRENCIA'].dt.dayofweek

D:\Programas\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [13]:
furtos_2018.sort_values('DIASEMANA', inplace=True)

D:\Programas\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [14]:
furtos_2018['DIASEMANA'].unique()

array([0, 1, 2, 3, 4, 5, 6], dtype=int64)

In [15]:
furtos_2018.head()

,ANO_BO,NUM_BO,NUMERO_BOLETIM,BO_INICIADO,BO_EMITIDO,DATAOCORRENCIA,PERIDOOCORRENCIA,DATACOMUNICACAO,DATAELABORACAO,BO_AUTORIA,...,IDADE,PLACA_VEICULO,UF_VEICULO,CIDADE_VEICULO,DESCR_COR_VEICULO,DESCR_MARCA_VEICULO,ANO_FABRICACAO,ANO_MODELO,DESCR_TIPO_VEICULO,DIASEMANA
1696362,2018,111,111/2018,01/01/2018 04:10:03,01/01/2018 04:10:03,2018-01-01,DE MADRUGADA,01/01/2018,01/01/2018 04:10:03,Desconhecida,...,NaN,FAG1865,SP,S.PAULO,Preta,I/FIAT SIENA EL FLEX,2011.0,2011.0,AUTOMOVEL,0
1777862,2018,1772,1772/2018,02/05/2018 17:28:51,02/05/2018 17:37:29,2018-02-05,A TARDE,02/05/2018,02/05/2018 17:28:51,Desconhecida,...,NaN,FDQ7766,SP,S.PAULO,Cinza,HONDA/HR-V EXL CVT,2016.0,2016.0,AUTOMOVEL,0
1777857,2018,574601,574601/2018,02/05/2018 17:36:20,02/05/2018 17:36:20,2018-02-05,PELA MANHÃ,02/05/2018,02/05/2018 17:36:20,Desconhecida,...,NaN,CDI3914,SP,S.PAULO,Azul,HONDA/CG 150 TITAN KS,2008.0,2008.0,MOTOCICLO,0
1777855,2018,574785,574785/2018,02/05/2018 17:25:57,02/05/2018 17:25:57,2018-02-05,PELA MANHÃ,02/05/2018,02/05/2018 17:25:57,Desconhecida,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1777854,2018,574911,574911/2018,02/05/2018 17:24:45,02/05/2018 17:24:45,2018-02-05,PELA MANHÃ,02/05/2018,02/05/2018 17:24:45,Desconhecida,...,NaN,EMS7306,SP,S.PAULO,Preta,I/KIA SPORTAGE EX2 2.0G2,2010.0,2010.0,AUTOMOVEL,0

In [16]:
furtos_2018.to_csv('D:\\EPS\\TCC\\data_cleaned\\SSP\\furtos2018.csv', sep=",", index=False)

## Criação da base de 2018 para roubos

In [17]:
# Criação da base de 2018 para roubos
df_roubos = pd.read_csv('D:\\EPS\\TCC\\data_cleaned\\SSP\\roubosConcat.csv', sep=",", decimal=".")

In [18]:
df_roubos.columns

Index(['ANO_BO', 'NUM_BO', 'NUMERO_BOLETIM', 'BO_INICIADO', 'BO_EMITIDO',
       'DATAOCORRENCIA', 'PERIDOOCORRENCIA', 'DATACOMUNICACAO',
       'DATAELABORACAO', 'BO_AUTORIA', 'FLAGRANTE', 'NUMERO_BOLETIM_PRINCIPAL',
       'LOGRADOURO', 'NUMERO', 'BAIRRO', 'CIDADE', 'UF', 'LATITUDE',
       'LONGITUDE', 'DESCRICAOLOCAL', 'EXAME', 'SOLUCAO', 'DELEGACIA_NOME',
       'DELEGACIA_CIRCUNSCRICAO', 'ESPECIE', 'RUBRICA', 'DESDOBRAMENTO',
       'STATUS', 'SEXO', 'IDADE', 'PLACA_VEICULO', 'UF_VEICULO',
       'CIDADE_VEICULO', 'DESCR_COR_VEICULO', 'DESCR_MARCA_VEICULO',
       'ANO_FABRICACAO', 'ANO_MODELO', 'DESCR_TIPO_VEICULO'],
      dtype='object')

In [19]:
df_roubos.head()

,ANO_BO,NUM_BO,NUMERO_BOLETIM,BO_INICIADO,BO_EMITIDO,DATAOCORRENCIA,PERIDOOCORRENCIA,DATACOMUNICACAO,DATAELABORACAO,BO_AUTORIA,...,SEXO,IDADE,PLACA_VEICULO,UF_VEICULO,CIDADE_VEICULO,DESCR_COR_VEICULO,DESCR_MARCA_VEICULO,ANO_FABRICACAO,ANO_MODELO,DESCR_TIPO_VEICULO
0,2003,1,1/2003,01/01/2003 05:19:33,01/01/2003 05:23:16,01/01/2003,DE MADRUGADA,01/01/2003,01/01/2003 05:19:33,Desconhecida,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2003,15,15/2003,01/01/2003 09:00:57,01/01/2003 09:01:20,01/01/2003,DE MADRUGADA,01/01/2003,01/01/2003 09:00:57,Desconhecida,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN
2,2003,15,15/2003,01/01/2003 09:00:57,01/01/2003 09:01:20,01/01/2003,DE MADRUGADA,01/01/2003,01/01/2003 09:00:57,Desconhecida,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN
3,2003,8,8/2003,02/01/2003 01:35:36,02/01/2003 01:36:31,02/01/2003,DE MADRUGADA,02/01/2003,02/01/2003 01:35:36,Desconhecida,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2003,16,16/2003,02/01/2003 12:45:29,02/01/2003 13:02:29,31/12/2002,A TARDE,02/01/2003,02/01/2003 12:45:29,Desconhecida,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
# Convertemos para datetime
df_roubos['DATAOCORRENCIA'] = pd.to_datetime(df_roubos['DATAOCORRENCIA'], errors = 'coerce')

In [21]:
df_roubos.head()

,ANO_BO,NUM_BO,NUMERO_BOLETIM,BO_INICIADO,BO_EMITIDO,DATAOCORRENCIA,PERIDOOCORRENCIA,DATACOMUNICACAO,DATAELABORACAO,BO_AUTORIA,...,SEXO,IDADE,PLACA_VEICULO,UF_VEICULO,CIDADE_VEICULO,DESCR_COR_VEICULO,DESCR_MARCA_VEICULO,ANO_FABRICACAO,ANO_MODELO,DESCR_TIPO_VEICULO
0,2003,1,1/2003,01/01/2003 05:19:33,01/01/2003 05:23:16,2003-01-01,DE MADRUGADA,01/01/2003,01/01/2003 05:19:33,Desconhecida,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2003,15,15/2003,01/01/2003 09:00:57,01/01/2003 09:01:20,2003-01-01,DE MADRUGADA,01/01/2003,01/01/2003 09:00:57,Desconhecida,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN
2,2003,15,15/2003,01/01/2003 09:00:57,01/01/2003 09:01:20,2003-01-01,DE MADRUGADA,01/01/2003,01/01/2003 09:00:57,Desconhecida,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN
3,2003,8,8/2003,02/01/2003 01:35:36,02/01/2003 01:36:31,2003-02-01,DE MADRUGADA,02/01/2003,02/01/2003 01:35:36,Desconhecida,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2003,16,16/2003,02/01/2003 12:45:29,02/01/2003 13:02:29,2002-12-31,A TARDE,02/01/2003,02/01/2003 12:45:29,Desconhecida,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
roubos_2018 = df_roubos[df_roubos['DATAOCORRENCIA'].dt.year == 2018]

In [23]:
roubos_2018.head()

,ANO_BO,NUM_BO,NUMERO_BOLETIM,BO_INICIADO,BO_EMITIDO,DATAOCORRENCIA,PERIDOOCORRENCIA,DATACOMUNICACAO,DATAELABORACAO,BO_AUTORIA,...,SEXO,IDADE,PLACA_VEICULO,UF_VEICULO,CIDADE_VEICULO,DESCR_COR_VEICULO,DESCR_MARCA_VEICULO,ANO_FABRICACAO,ANO_MODELO,DESCR_TIPO_VEICULO
2024721,2017,12386,12386/2017,01/01/2018 00:42:53,01/01/2018 01:00:26,2018-01-01,DE MADRUGADA,01/01/2018,01/01/2018 00:42:53,Desconhecida,...,NaN,NaN,EHI4080,SP,RIO CLARO,Preta,HONDA/CBX 250 TWISTER,2008.0,2008.0,MOTOCICLO
2024725,2018,1,1/2018,01/01/2018 01:12:07,01/01/2018 01:56:02,2018-01-01,DE MADRUGADA,01/01/2018,01/01/2018 01:12:07,Desconhecida,...,NaN,NaN,BAA6627,SP,S.PAULO,Preta,RENAULT/SANDERO EXPR 10,2015.0,2016.0,AUTOMOVEL
2024727,2018,1,1/2018,01/01/2018 01:37:25,01/01/2018 02:05:39,2018-01-01,DE MADRUGADA,01/01/2018,01/01/2018 01:37:25,Desconhecida,...,NaN,NaN,PYS5262,MG,BELO HORIZONTE,Azul,HYUNDAI/HB20 1.0M COMFOR,2016.0,2017.0,AUTOMOVEL
2024728,2018,1,1/2018,01/01/2018 01:53:28,01/01/2018 02:13:04,2018-01-01,DE MADRUGADA,01/01/2018,01/01/2018 01:53:28,Desconhecida,...,NaN,NaN,FHT0878,SP,S.PAULO,Vermelho,VW/FOX 1.0 GII,2013.0,2013.0,AUTOMOVEL
2024731,2018,70,70/2018,01/01/2018 02:40:15,01/01/2018 02:40:15,2018-01-01,DE MADRUGADA,01/01/2018,01/01/2018 02:40:15,Desconhecida,...,NaN,NaN,EPC9090,SP,S.PAULO,Prata,HONDA/CITY LX FLEX,2010.0,2010.0,AUTOMOVEL

In [24]:
roubos_2018['CIDADE'] = roubos_2018['CIDADE'].str.upper()

D:\Programas\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [25]:
# Dropamos outras cidades que nao são SP
roubos_2018.drop(roubos_2018[(roubos_2018.CIDADE != 'S.PAULO') & (roubos_2018.CIDADE != 'SAO PAULO') & (roubos_2018.CIDADE != 'SÃO PAULO') & (roubos_2018.CIDADE != 'SP')].index, inplace=True)

In [26]:
roubos_2018['CIDADE'].unique()

array(['S.PAULO'], dtype=object)

In [27]:
roubos_2018['DIASEMANA'] = roubos_2018['DATAOCORRENCIA'].dt.dayofweek

D:\Programas\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [28]:
roubos_2018.sort_values('DIASEMANA', inplace=True)

D:\Programas\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [29]:
roubos_2018['DIASEMANA'].unique()

array([0, 1, 2, 3, 4, 5, 6], dtype=int64)

In [30]:
roubos_2018.head()

,ANO_BO,NUM_BO,NUMERO_BOLETIM,BO_INICIADO,BO_EMITIDO,DATAOCORRENCIA,PERIDOOCORRENCIA,DATACOMUNICACAO,DATAELABORACAO,BO_AUTORIA,...,IDADE,PLACA_VEICULO,UF_VEICULO,CIDADE_VEICULO,DESCR_COR_VEICULO,DESCR_MARCA_VEICULO,ANO_FABRICACAO,ANO_MODELO,DESCR_TIPO_VEICULO,DIASEMANA
2024725,2018,1,1/2018,01/01/2018 01:12:07,01/01/2018 01:56:02,2018-01-01,DE MADRUGADA,01/01/2018,01/01/2018 01:12:07,Desconhecida,...,NaN,BAA6627,SP,S.PAULO,Preta,RENAULT/SANDERO EXPR 10,2015.0,2016.0,AUTOMOVEL,0
2107983,2018,897,897/2018,24/04/2018 16:49:57,24/04/2018 17:31:45,2018-04-23,A NOITE,24/04/2018,24/04/2018 16:49:57,Ignorado,...,NaN,CNR8559,SP,RIO CLARO,Cinza,REB/NOMA SR3E27 CS,2013.0,2013.0,SEMI-REBOQUE,0
2107982,2018,897,897/2018,24/04/2018 16:49:57,24/04/2018 17:31:45,2018-04-23,A NOITE,24/04/2018,24/04/2018 16:49:57,Ignorado,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0
2045102,2018,1354556,1354556/2018,23/10/2018 09:36:53,23/10/2018 09:36:32,2018-10-22,A NOITE,22/10/2018,23/10/2018 09:36:53,Desconhecida,...,NaN,NaN,SP,SÃO PAULO,Preta,H/HONDA 150,NaN,NaN,MOTOCICLO,0
2045103,2018,1354556,1354556/2018,23/10/2018 09:36:53,23/10/2018 09:36:32,2018-10-22,A NOITE,22/10/2018,23/10/2018 09:36:53,Desconhecida,...,NaN,FNX4001,SP,SÃO PAULO,Branco,YAMAHA/NMAX,2016.0,NaN,MOTOCICLO,0

In [31]:
roubos_2018.to_csv('D:\\EPS\\TCC\\data_cleaned\\SSP\\roubos_2018.csv', sep=",", index=False)